.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.section1 > .describe {
  width: 50%;
}
.section1 > .describe button {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 30px;
  background-color: #fff;
  color: #76c143;
  font-weight: bold;
  font-size: 15px;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.section1 > .describe button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.section1 > .describe button:active {
  background-color: #fff;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  text-align: center;
}

.section2 img {
  width: 400px;
}

.section3 {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section3 > .cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.section3 > .cards > .card {
  height: 200px;
  width: 250px;
  margin: 10px;
  border-radius: 15px;
  background-color: #58923277;
  position: relative;
  box-shadow: 0 01px #589232, 01px 0 #589232, 01px 02px #589232,
    02px 01px #589232, 02px 03px #589232, 03px 02px #589232, 03px 04px #589232,
    04px 03px #589232, 04px 05px #589232, 05px 04px #589232, 05px 06px #589232,
    06px 05px #589232;
}
.section3 > .cards > .card img {
  height: 100%;
  width: 100%;
}
.section3 > .cards > .card:hover {
  background-color: #5892323b;
}
.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
.section4 > .describe button {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 30px;
  background-color: #fff;
  color: #76c143;
  font-weight: bold;
  font-size: 15px;
}
.section4 > .describe button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.section4 > .describe button:active {
  background-color: #fff;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.section5 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.section5 > .cards > .card {
  width: 30%;
  padding: 30px;
  border-bottom: 1px solid #fff;
  height: 200px;
}
.section5 > .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.section5 > .cards > .card > .user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section5 > .cards > .card > .user img {
  height: 50px;
  width: 50px;
  border-radius: 30px;
}

.section5 > .cards > .card > .user p {
  margin: 10px;
}

.section6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.section6 > .cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section6 > .cards > .card {
  width: 300px;
  height: 150px;
  text-align: center;
  border: 5px solid #fff;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
}

.section7 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}
.section7 p {
  width: 70%;
  
}

@media (max-width: 600px) {
  .section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
    margin-top: 0px;
  }
  .section1 > .describe {
    width: 80%;
  }
  .section1 img {
    width: 300px;
  }

  .section4 {
    width: 100%;
    margin-top: 100px;
    flex-direction: column;
  }
  .section4 img {
    width: 300px;
  }
  .section4 > .describe {
    width: 80%;
  }
  .section5 {
    width: 100%;
    text-align: center;
  }
  .section5 > .cards {
    flex-direction: column;
  }
  .section5 > .cards > .card {
    width: 80%;
  }
  .section6 {
    width: 100%;
    text-align: center;
  }
  .section6 > .cards {
    flex-direction: column;
  }
  .section7 {
    width: 100%;
    margin-top: 50px;
  }
  .section7 p {
    width: 80%;
    
  }
  .section3 {
    width: 100%;
    text-align: center;
  }
  .section2 {
    width: 100%;
  }
  .section2 img {
    width: 300px;
  }
}
