.pdfviewer{   
    height: 100%;
    width:80vw;   

}

.rpv-default-layout-toolbar{
    background-color: transparent!important;
    color: #fff!important;
}
.rpv-default-layout-toolbar svg{
   
    color: #fff!important;
}
.rpv-default-layout-sidebar-headers{
    background-color: transparent!important;
    color: #fff!important;

}
.rpv-default-layout-sidebar-headers svg{   
    color: #fff!important;
}
.rpv-default-layout-container{
    border: none;
}
.rpv-default-layout-body{
    border-radius: 10px;
}
@media (max-width:600px){
    .pdfviewer{
        width: 100%;
        
    }
}