.newbook {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.newbook > .timeline {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 650px;
  margin: 70px 0px;
}
.newbook > .timeline > .line {
  width: 10%;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.315);
  padding: 5px;
  border-radius: 10px;
  transition: all ease 0.5s;
}
.box {
  width: 650px;
  height: 500px;
  background-color: red;
  border-radius: 10px;
  position: relative;
}

.step0,
.step1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: inherit;
}

.step0 > .describe {
  position: absolute;
  top: 0;
  left: 10px;
  width: 80%;
}
.step1 > .describe {
  position: absolute;
  top: 0;
  left: 10px;
  width: 80%;
}

.step0 img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  border-radius: inherit;
  background-size: cover;
}

.step0 input {
  display: none;
}

.step1 input {
  display: none;
}
.step1 svg {
  color: #fff;
  position: absolute;
  z-index: 8;
  font-size: 90px;
}
.step1 svg:hover {
  color: rgba(255, 255, 255, 0.479);
  transition: all ease 0.3s;
}
.step0 svg {
  color: #fff;
  position: absolute;
  z-index: 8;
  font-size: 90px;
}
.step0 svg:hover {
  color: rgba(255, 255, 255, 0.479);
  transition: all ease 0.3s;
}

.box > .nextButton {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 10%;
  z-index: 8;
  border: none;
  border-radius: 0px 10px 10px 0px;
  color: #fff;
  background-color: #14141470;
}
.box > .nextButton:hover {
  background-color: #fff;
  color: red;
  transition: all ease 0.3s;
}
.box > .backButton {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 70px;
  z-index: 8;
  border: none;
  border-radius: 0px 10px 0px 10px;
  color: #fff;
  background-color: #14141470;
}
.box > .backButton:hover {
  background-color: #fff;
  color: red;
  transition: all ease 0.3s;
}

.box > .step2 {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.box > .step2 > .describe {
  margin-left: 10px;
  width: 80%;
}
.box > .step3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.box > .step3 > .describe {
  width: 70%;
  position: absolute;
  left: 10px;
  top: 0;
}
.box > .step3 input {
  width: 70%;
  text-align: center;
  height: 70px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: transparent;
  color: #fff;
}
.box > .step3 input::placeholder {
  color: #fff;
  font-weight: 100;
  font-size: 20px;
}

.box > .step4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.box > .step5 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box > .step5 button {
  margin-top: 30px;
  outline: none;
  border: none;
  height: auto;
  background-color: transparent;
  padding: 5px;
  font-weight: bold;
  color: #fff;
}
.box > .step5 button:hover {
  opacity: 0.6;
}

.box > .step5 > .describe {
  left: 10px;
  top: 10px;
  position: absolute;
  width: 70%;
}
.box > .step4 > .describe {
  height: 70%;
  padding: 10px;
}
.box > .step4 img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-left: 30px;
  margin-top: 30px;
}
.form-group > .prefacio,
.form-group > .lancamento,
.form-group > .genero {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  font-weight: bold;
  margin-bottom: 30px;
}
.form-group > .prefacio textarea {
  margin-top: 10px;
  height: 100px;
  border-radius: 10px;
  outline: none;
  resize: inherit;
  font-size: 1.1rem;
}
.form-group > .genero select {
  margin-top: 10px;
  font-size: 1.1rem;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  font-weight: bold;
}
.form-group > .genero select option {
  color: #141414;
  padding: 10px;
}

.react-date-picker__wrapper {
  color: #fff !important;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 0px 0px 0px 10px;
  margin-top: 10px;
}
.react-date-picker__button {
  color: #fff !important;
}
.react-date-picker__inputGroup__input {
  color: #fff !important;
}
