.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.container {
  margin-left: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.appbar {
  height: 100px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: flex !important;
}
.appbar > .menu a {
  color: #fff;
  text-decoration: none;
  margin-right: 50px;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.appbar > .menu a:hover {
  opacity: 0.7;
}
.appbar h1 {
  color: #e50914;
}
.appbar > .search > .searchInput input {
  color: #fff;
  margin: 0px 10px 0px 10px;
}

.appbar > .search > .searchInput svg {
  color: #fff;
  margin-right: 10px;
}

.appbar > .profile a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: #fff;
  overflow: hidden;
}
.appbar > .profile img {
  height: 35px;
  width: 35px;
  margin-right: 10px;
  border-radius: 10px;
}
.appbar > .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appbar > .profile button {
  color: #fff !important;
  margin-left: 50px;
  height: 35px;
}
