.App {
  display: flex;  
  justify-content: flex-end;
}
.container{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;

}
#teste{
  width: 400px;
  height: 150px;
  background-color: #fff;
  border-radius: 30px;
}

.MuiDrawer-paperAnchorLeft {
  background-color: #76c143 !important;
  color: #fff !important;
  width: 20%;
 
}
.MuiDrawer-paperAnchorRight {
  background-color: rgb(117, 193, 67,0.1) !important;
  color: #000 !important;
  width: 200px;
}
.MuiDrawer-paperAnchorLeft svg {
  color: #fff !important;
}
.logo {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo img {
  width: 50%;

}

.logoutDiv{ 
  background-color: #76c143;  
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.logoutDiv button{ 
  width: 100%; 
  font-weight: bold;
  color: #FFF;
}
.logoutDiv svg{
  margin-left: 10px;
}

.perfil{
  margin-top: 20px;
}
.perfil h3{
  color: #76c143 ;
}
.perfil img{
  width: 100px;
  height: 100px;
  border-radius: 30px;
}
.perfil > .levels{
  margin-top: 50px;
}
.perfil > .levels > .boxGroups{
  display: flex;
  justify-content: center;
  align-items: center;  
}
.perfil > .levels div{  
  margin: 0px 10px 0px 10px;
  font-weight: bold;
  
}

.perfil > .levels h3{  
  margin: 0px
  
}
.MuiListItem-root{
  margin: 10px 0px 10px 0px!important;

}
.MuiListItemIcon-root{
display: flex;
justify-content: flex-end;
margin-right: 10px;  
}
.listMenu a{ 
  text-decoration: none;
  color: #fff;
}