.dashboard {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  color: inherit;

}
.dashboard h3 {
  margin-left: 20px;
}
.cartaz {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.spotlight {
  margin-bottom: 50px;
  width: 70%;
  height: 430px;
  position: relative;
  display: flex;
  justify-content: center;

  
}
.spotlight img {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 5;
  border-radius: 10px;
}

.spotlight > .btn {
  
  position: absolute;
  z-index: 6;
  bottom: 0px;
  height: 100px;
  width: 100%;
  background-color: #14141472;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgb(229, 9, 20, 0.4) 5px 5px, rgb(229, 9, 20, 0.3) 10px 10px,
    rgb(229, 9, 20, 0.2) 15px 15px, rgb(229, 9, 20, 0.1) 20px 20px,
    rgb(229, 9, 20, 0.05) 25px 25px;
}

.spotlight > .btn button {
  border: none;
  background-color: #e50914;
  color: #fff;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.spotlight > .btn > .title {
  height: 100%;
}
.spotlight > .btn > .title p {
  margin: 0;

}
.spotlight > .btn > .title h1 {
  margin: 5px 0px 10px 0px;
}
.spotlight button:hover {
  background-color: #fff;
  color: #e50914;
}
.spotlight button:active {
  color: #e50914;
  opacity: 0.7;
}
.spotlight>.btnNextSpotlight{
  height: 100%;
  width: 70px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  z-index: 99;
  border: none;
  color: #1414146e;
}
.spotlight>.btnBackSpotlight{
  height: 100%;
  width: 70px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 99;
  border: none;
  color: #1414146e;
}
.spotlight>.btnNextSpotlight:hover,.spotlight>.btnBackSpotlight:hover{
background-color: transparent;
color:#141414;
font-weight: bold;
}
.rowsGenre {
  position: relative;
  height: 100%;
  width: 100vw;
}

@media (max-width: 600px) {
  .spotlight > .btn > .title {
display: none;
  }
  .spotlight {    
    width: 90vw;
    height: 230px;
  }
  .spotlight>.btn {    
    
   padding-bottom: 18px;
  }
  .spotlight img {    
    border-radius: 0px;
  }
}

