.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  color: #fff;
}
.profile > .perfil {
  width: 900px;
  height: 200px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  color: #fff!;
}
.profile h1 {
  margin-bottom: 50px;
}

.profile > .perfil > .describe {
  padding: 20px;
  width: 70%;
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0px 10px 10px 0px;
}

.profile > .perfil > .describe > .input {
  margin: 5px;
  color: #fff;
}

.profile > .perfil > .describe button {
  margin-top: 10px;
  background-color: #fff !important;
  color: #141414 !important;
  font-weight: bold;
}

.ranking {
  background-color: rgb(243, 16, 16);
  margin-top: 50px;
  width: 900px;
  border-radius: 10px;
  overflow-y: auto;
  color: #fff;
}
.ranking .score {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ranking .score p {
  margin-right: 15px;
}
.upload {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  border-radius: 10px 0px 0px 10px;
}

.upload img {
  width: 180px;
  height: 180px;
  position: absolute;
  z-index: 5;
  background-size: cover;
  border-radius: 10px;
}

.upload input {
  display: none;
}

.upload svg {
  color: #fff;
  position: absolute;
  z-index: 8;
}
.upload > .hoverblack {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 7;
  background-color: transparent;
}
.upload > .hoverblack:hover {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 7;
  background-color: #14141441;
  transition: all ease 0.3s;
}

@media (max-width: 600px) {
  .profile {
    justify-content: flex-start;
  }
  .profile h1 {
    margin: 5px 0px;
  }
  .profile > .perfil {
    width: 80%;
    height: 100vh;
    flex-direction: column;
    padding: 0;
    background-color: transparent;
  }
  .profile > .perfil img {
    width: 250px;
    height: 250px;
    background-size: cover;
    border-radius: 10px;
  }
  .profile > .perfil > .describe {
    width: 100%;
    height: 60%;
    padding: 0px;
  }
}
