.releaseCard{
    position: relative;
    width: 230px!important;
    height: 140px;
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
 
}
.releaseCard:hover{
    width: 240px!important;
    height: 160px;
    transition: all 0.3s ease;
}
.releaseCard img{
height: 100%;
width: 100%;
border-radius: inherit;
position: absolute;
z-index: 5;


}
.releaseCard > .describe {
   width: 100%;   
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.releaseCard > .describe button{
    width: 100%;
    height: 25%;
    border: none;
    background-color: rgba(0, 0, 0, 0.192);
    color: #fff;
    position: absolute;
    z-index: 6;
    bottom: 0;
    
}